body {
    margin: 0px;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

header, section, nav, main, article {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav {
    background-color: #5995DA;
}

header {
    background-color: #B2D6FF;
}

main {
    background-color: #EAEDF0;
    height: 600px;
}

section {
    background-color: #D6E9FE;
}

/* bacground-color */

.bg-yellow {
    background-color: #F5CF8E;
}

.bg-red {
    background-color: #F09A9D;
}

.bg-purple {
    background-color: #C8C6FA;
}


